.text-type
  .text-type__item.text-type__item_h1
    span.text-type__index H1
    .text-type__pleview This one is the sub-section or 
      |widget title
  .text-type__item.text-type__item_h2
    span.text-type__index H2
    .text-type__pleview Next one is the item title inside 
      <br> widgets
  .text-type__item.text-type__item_h3
    span.text-type__index H3
    .text-type__pleview This is a label or CTA text
  .text-type__item.text-type__item_body
    span.text-type__index Body
    .text-type__pleview This is the body text which is used for most
      <br> of the design, like paragraphs, lists, etc.