ul.colors__list
  li.colors__item
    div.colors__color-100.colors__color
    p.colors__name-color Dark Shade 100%
      br
      span.colors__name-color_num-color #1F2041
  li.colors__item
    div.colors__color-75.colors__color
    p.colors__name-color Dark Shade 75%
      br
      span.colors__name-color_num-color #1F2041
  li.colors__item
    div.colors__color-50.colors__color
    p.colors__name-color  Dark Shade 50%
      br
      span.colors__name-color_num-color #1F2041
  li.colors__item
    div.colors__color-25.colors__color
    p.colors__name-color  Dark Shade 25%
      br
      span.colors__name-color_num-color #1F2041
  li.colors__item
    div.colors__color-5.colors__color
    p.colors__name-color  Dark Shade 5%
      br
      span.colors__name-color_num-color #1F2041
  li.colors__item
    div.colors__color-purple.colors__color
    p.colors__name-color  Purple
      br
      span.colors__name-color_num-color #BC9CFF
  li.colors__item
    div.colors__color-green.colors__color
    p.colors__name-color  Green
      br
      span.colors__name-color_num-color #6FCF97