@font-face {
  font-family: "Montserrat";
  src:  url("./fonts/montserrat/Montserrat-Regular.ttf") format("truetype"),
        url("./fonts/montserrat/Montserrat-Regular.woff") format("woff"),
        url("./fonts/montserrat/Montserrat-Regular.svg") format("svg");
  color: #1F2041;
}
@font-face {
  font-family: "Montserrat";
  src:  url("./fonts/montserrat/Montserrat-Bold.ttf") format("truetype"),
        url("./fonts/montserrat/Montserrat-Bold.woff") format("woff"),
        url("./fonts/montserrat/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Quicksand";
  src:  url("./fonts/quicksand/Quicksand-Regular.ttf") format("truetype"),
        url("./fonts/quicksand/Quicksand-Regular.woff") format("woff"),
        url("./fonts/quicksand/Quicksand-Regular.svg") format("svg");
}
@font-face {
  font-family: "Quicksand";
  src:  url("./fonts/quicksand/Quicksand-Bold.ttf") format("truetype"),
        url("./fonts/quicksand/Quicksand-Bold.woff") format("woff"),
        url("./fonts/quicksand/Quicksand-Bold.svg") format("svg");
  font-weight: 700;
}